.container {
    background-color: lightblue;
    height: 140px; 
    padding: 16px; 
    border: 10px solid blue; 
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    background-color: pink;
    height: 60px; 
    width: 60px;
    border: 10px solid purple;
}