@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

.header { 
    background-color: #1f2937;
    width: 100%;
    height: 364px;
    margin: 0px; 
    display: flex;
    padding: 0px;
}

.right-container { 
    display: flex;
    flex-direction: column;
}

.header-logo { 
    color: white;
}

.subtext { 
    color: white; 
    font-size: 48px; 
    font-weight: 800;
}